{% extends "base.html" %}
{% load i18n form_tags %}


{% block page %}
    <div class="jumbotron ">
        <div class="container">
            <h1>
                {% block title %}
                    {% trans "I forgot my password" %}
                {% endblock title %}
            </h1>
        </div>
    </div>
    {{ block.super }}
{% endblock page %}


{% block content %}
    {% if request.user.is_active %}
        {% trans "You are connected. You can change your password from your account menu item." %}
    {% else %}
        <form action="." method="POST" class='form-horizontal'>{% csrf_token %}
            {% for field in form %}
                {% addFormField field %}
            {% endfor %}
            <hr>
            <div class="text-center">
                <input type="submit" class='btn btn-primary' value="{% trans "Reset my password" %}">
            </div>
        </form>
    {% endif %}
{% endblock content %}
