{% extends "base.html" %}
{% load i18n form_tags %}


{% block page %}
    <div class="jumbotron ">
        <div class="container">
            <h1>
                {% block title %}
                    {% trans "Set your new password" %}
                {% endblock title %}
            </h1>
        </div>
    </div>
    {{ block.super }}
{% endblock page %}


{% block content %}
    <div class="row">
        <div class="col-md-5">
            <form class='form-horizontal' method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                <legend>{% trans "Set your new password" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    
                    {% for field in form %}
                        {% addFormField field %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}