Django==1.7.11
Pillow==2.6.1
django-appconf==0.6
django-avatar==2.0
django-compressor==1.5
django-fm==0.1.9
django-braces==1.4.0
django-crispy-forms==1.6.1
django-guardian==1.2.0
django-pagination==1.0.7
django-reversion==1.6.5
django-social-auth==0.7.28
django-social-share==0.2.0
django-user-accounts==1.0
https://bitbucket.org/m_clement/djnext/get/34b0e16214c5.zip
gunicorn==19.1.1
lxml==2.3.4
pytz==2014.9
six==1.6.1
https://bitbucket.org/m_clement/django-units/get/1ec0987.zip
wsgiref
