{% load crispy_forms_tags i18n %}
<div id="form-container">
    
    <div class="ingredient_list modal-max-height-body {% if request.POST or form.instance.id %}hide{% endif %}">
        <div class="form-group has-feedback">
            <input type="search" class="search_ingredient form-control" placeholder="{% trans "Search ingredient here..." %}" >
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <table class="table table-bordered table-striped table-condensed table-sorted">
            {% block table_content %}
            {% endblock table_content %}
        </table>
    </div>

    <div class="ingredient_form {% if not request.POST and not form.instance.id %}hide{% endif %}">
        <form role="form" id="id_ingredient_form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="">{% csrf_token %}
            {% block form_content %}{% endblock form_content %}
        </form>
    </div>
</div>


<script>
$(function(){
    $(".search_ingredient").quicksearch('.ingredient_list table tbody tr');
    $('.ingredient_list table').dataTable({
        "bPaginate": false, "bInfo": false, "bFilter": false, 
        
    }).addClass('table-sorted');

});
</script>