{% extends "brew/base_ingredient_form.html" %}
{% load i18n form_tags unit_tags %}


{% block table_content %}
    <thead>
        <tr>
            <th style="width:40px;" class='text-center'>#</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Origin" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{{ unit_color|upper }}</th>
            <th>{% trans "Max" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for malt in form.get_ingredient_list %}
        <tr class='row_ingredient' data-json-object='{{ malt.json_object }}'>
            <td class='text-center'>
                <a href="#" class='btn btn-success btn-xs add-this-ingredient'>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
            <td>
                {% if malt.stock_user == request.user %}
                    <span class="text-success"><i class="fa fa-database"></i>
                    ({% trans "In stock" %}
                    {% local_unit "weight" malt.stock_amount 0 %})</span>
                {% endif %}
                {{ malt.name }}
            </td>
            <td>{{ malt.origin }}</td>
            <td>{{ malt.get_malt_type_display }}</td>
            <td>{% local_unit "color" malt.color -1 %}</td>
            <td>{{ malt.max_in_batch }}%</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock table_content %}


{% block form_content %}
    {% addFormField form.malt_id %}
    {% addFormField form.amount size="S" %}
    {% addFormField form.malt_type size="S" %}

    <hr>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% addFormField form.name size="L" %}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% addFormField form.diastatic_power size="L" %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% addFormField form.origin size="L" %}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% addFormField form.protein size="L" %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% addFormField form.potential_gravity size="L" %}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% addFormField form.max_in_batch size="L" %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% addFormField form.notes size="L" %}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% addFormField form.color size="L" %}
            {% addFormField form.malt_yield size="L" %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        </div>
    </div>
{% endblock form_content %}

