{% extends "brew/recipe_detail.html" %}
{% load i18n %}

{% block inner_content %}
    <form action="." method="POST">{% csrf_token %}
        
        <div class="alert alert-danger text-center lead">
            <p>
                {% trans "Nooooooooooo ? Why ?" %} :(
            </p>
            <p>
                <b>{% trans "Are you sure you want to delete this recipe ?" %}</b> 
            </p>
            <hr>
            <p>
            <input type="submit" class="btn btn-danger" value="{% trans "Delete" %} ({% trans "Can't cancel" %})"> {# ' #}
            </p>
        </div>
    </form>
{% endblock inner_content %}